* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 14, 154, 1) 35%, rgba(0, 212, 255, 1) 100%);*/
  background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
  font-family: 'Poppins', sans-serif;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.popup h4 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.dropdown-message {
  text-align: center;
  margin-bottom: 10px;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown .btn-secondary {
  width: 200px;
}

.navbar {
  background-color: #343a40;
}

.navbar-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .popup {
    width: 90%;
  }
}