{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}


    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}


{% if name %}
    <h1>Welcome, {{ name.split()[0].title() }}!!</h1>
    <br/><br/><br/>
<table class="table table-striped">

    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
    </thead>

    <tbody  class="table-group-divider">
    {% for user in all_users %}
    
        <tr>
          <th scope="row">{{ user.user_id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% else %}
    <h1><center>User Registration Form</center></h1>
    <br/>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 600px;">
            <div class="card-body">
                <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                    <form method=POST>
                        {{ form.hidden_tag() }}

                        {{ form.name.label(
                            class="form-label") }}

                        {{ form.name(
                            class="form-control") }}
                        <br/>

                        {{ form.email.label(
                            class="form-label") }}

                        {{ form.email(
                            class="form-control") }}
                        <br/><br/><br/>

                            <center>{{ form.submit(class="btn btn-primary d-grid col-5 mx-auto", value="Register") }}</center>

                    </form>
                </div>
            </div>
        </div>
    </div>

<br/><br/><br/>
<table class="table table-striped">

    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
    </thead>

    <tbody  class="table-group-divider">
    {% for user in all_users %}
    
        <tr>
          <th scope="row">{{ user.user_id }}</th>
          <td><a href="{{ url_for('update', user_id=user.user_id) }}">{{ user.name }}</a></td>
          <td>{{ user.email }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}