{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}


    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}


{% if name %}
    <h1>Welcome, {{ name.split()[0].title() }}!!</h1>
    <br/><br/><br/>
<table class="table table-striped">

    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
    </thead>

    <tbody  class="table-group-divider">
    {% for user in all_users %}
    
        <tr>
          <th scope="row">{{ user.user_id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% else %}
    <h1>User Registration Form</h1>
    <br/>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 600px;">
            <div class="card-body">
                <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                    <form method=POST>
                        {{ form.hidden_tag() }}

                        {{ form.name.label(
                            class="form-label") }}

                        {{ form.name(
                            class="form-control", 
                            value=name_to_update.name) }}
                        <br/>

                        {{ form.email.label(
                            class="form-label") }}

                        {{ form.email(
                            class="form-control", 
                            value=name_to_update.email) }}
                        <br/><br/>
                        
                        <div><center>
                            {{ form.submit(class="btn btn-success col-4 mx-auto d-inline-block", value="Update") }}
                            <span style="margin: 30px;"></span>
                            <a href="{{ url_for('delete', user_id=user_id) }}" class="btn btn-danger col-4 mx-auto d-inline-block">Delete</a>
                        </center></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<br/><br/><br/>

{% endif %}

{% endblock %}